.panel.panel-info
  .panel-heading
    %h2.panel-title 業者編集
  .panel-body
    = render 'form'

%br

= link_to '業者詳細', backoffice_companies_path(@coupon)
\|
= link_to '業者一覧', backoffice_companies_path
