-if notice
  %p.alert.alert-dismissible.alert-success#notice= notice

.panel.panel-info
  .panel-heading
    %h2.panel-title 商品登録
  .panel-body
    = render 'form'

%br

= link_to '商品一覧', backoffice_products_path
