.content
  .row
    - @products.each do |product| 
      .col-md-4.col-sm-4.col-xs-6.product-list-item
        .panel.panel-default
          = link_to product_path(product) do
            .panel-body.text-center.product-body
              - if product.img_filename.present?
                = image_tag(product.img_filename, class: 'img-thumbnail')
              - else
                %img{src: 'https://dummyimage.com/250x250'}
              %p.bg-info
                = product.name
