!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ECommerceSampleAppAdmin
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          =link_to 'さくらマーケット 管理画面', backoffice_products_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to '商品マスタ管理', backoffice_products_path
            %li
              =link_to '注文管理', backoffice_orders_path
            %li
              =link_to 'クーポン管理', backoffice_coupons_path
            %li
              =link_to 'ユーザー管理', backoffice_users_path
            %li
              -if admin_signed_in?
                =link_to 'ログアウト', destroy_admin_session_path
              -else
                =link_to 'ログイン', new_admin_session_path

    .container
      = yield
