%p
  こんにちは #{@resource.email}!
%p パスワード変更が要求されました
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p あなたが依頼したものでなければ、本メールは破棄してください
%p パスワードは上記リンクにアクセスされるまでは変更されません
